h1{
<<<<<<< HEAD
    color:red;
    background-color:burlywood;
}
body{
    background-color:aquamarine; 
=======
    color:blue;
    background-color:burlywood;
}
body{
    background-color:rgb(127, 217, 255); 
>>>>>>> youseff
}